version: '3'
services:
  mongo:
    image: mongo:4.4.4
    container_name: mongo
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
      - 27017:27017
    volumes:
      - ../mongo-data-4.4:/data/db
    command: --wiredTigerCacheSizeGB 1.5
    
  redis: 
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379